#about
.about
  .about-section-title ##{section.about.title}
  .about-wrapper
    //- Loop through each about content in the main section
    //- and render content based on the value of type property
    each content in section.about.content
      .about-content
        //- Check if it is of avatar type
        if content.type === 'avatar'
          .about-avatar-wrapper
            img.about-avatar(src=content.url)
        //- Check if it is of text type
        if content.type === 'text'
          h2.about-title=content.title
          if content.subtitle
            h3.about-title=content.subtitle
          //- Loop through each of the text collection
          //- and render as many paragraphs as available
          each paragraph in content.text
            p.about-paragraph=paragraph
        //- Check if it is of card type
        if content.type === 'card'
          h2.about-title=content.title
          //- Loop through each of the card collection
          //- and render as many paragraphs as available
          include about-card
        if content.type === 'link'
          h2.about-title=content.title
          //- Loop through each of the link collection
          //- and render as many link buttons as available
          //- include about-card
          .about-link-list
            each link in content.link
              a.about-link(href=link.url)
                span.about-link-description=link.text
                span(class=`resume-icon-${link.icon}`)
